
{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    {% if cabinets %}

    <h2 class="mt-4">Перечень шкафов</h2>
    <p>База данных содержит информацию по следующим типам шкафов РЗА:</p>
    <hr class="my-4">
    <div class="container small">
    <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Обозначение шкафа</th>
                      <th scope="col">ИЭУ1</th>
                      <th scope="col">ИЭУ2</th>
                      <th scope="col">ИЭУ3</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cabinets %}
                    <tr>
                        <td><a href="getreport/?name={{item.name}}&type=cabinet">ШЭТ {{item.name}}</a></td>
                        <td><a href="show/?name={{item.terminal1}}&type=ied">{{item.terminal1}}</a></td>
                        <td><a href="show/?name={{item.terminal2}}&type=ied">{{item.get_terminal2}}</a></td>
                        <td><a href="show/?name={{item.terminal3}}&type=ied">{{item.get_terminal3}}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    <hr class="my-4">
    <p><em>Примечание</em><br>При нажатии на обозначение шкафа генерируется отчет по шкафу.<br>
    Нажатие на ИЭУ позволяет открыть страницу с перечнем логических устройств, входящих в состав данного шкафа.</p>
    {% else %}
    <h2 class="mt-4">В базе данных нет шкафов :(</h2>
    {% endif %}
</main>

{% endblock %}
